<!DOCTYPE html>
<html>
<head>

    <title>AgroVision AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>🌿 AgroVision AI</h1>

    <p class="subtitle">
        AI-Powered Plant Disease Detection System
    </p>

    <p style="margin-bottom:25px;color:#555;">
        Upload a leaf image and let AgroVision AI
        identify plant diseases.
    </p>

    <form
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
        onsubmit="showLoading()"
    >

        <input
            type="file"
            name="leaf_image"
            accept="image/*"
            required>

        <br><br>

        <button
            id="analyzeBtn"
            type="submit">

            🔍 Analyze Leaf

        </button>

    </form>

    <p
        id="loadingText"
        style="
        display:none;
        color:green;
        font-weight:bold;
        margin-top:20px;">

        ⏳ Analyzing image...
        Please wait 10-30 seconds.

    </p>

    <hr>

    <h3>Supported Plants</h3>

    <p>
        🍅 Tomato
        🥔 Potato
        🫑 Bell Pepper
    </p>

</div>

<script>

function showLoading(){

    document.getElementById(
        "loadingText"
    ).style.display = "block";

    document.getElementById(
        "analyzeBtn"
    ).disabled = true;

    document.getElementById(
        "analyzeBtn"
    ).innerHTML = "Analyzing...";
}

</script>

</body>
</html>
